{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <title>Registration</title>
</head>
<body>
    <main>
        <section>
            <form method="POST" action="{% url 'home' %}" >
               {% csrf_token %} 

               <label for="username">
                    <span>Full Name</span>
                    <input type="text" name="full_name" placeholder="Full Name" required>
               </label>
               <label for="username">
                    <span>Email</span>
                    <input type="email" name="email" placeholder="Email" required>
               </label>

               <label for="phone_number">
                    <span>Phone Number</span>
                    <input type="text" name="phone_number" placeholder="Phone Number" required>
               </label>

               <label for="branches">
                    <span>Branch</span>
                    <select name="branches" id="branches">
                        {% for small,branch in branches%}
                            <option value="{{small}}">{{branch}}</option>
                        {% endfor %}
                    </select>
               </label>
                <label for="semesters">
                    <span>Semester</span>
                    <select name="semesters" id="semesters">
                        {% for small,semester in semesters%}
                            <option value="{{small}}">{{semester}}</option>
                        {% endfor %}
                    </select>
               </label>


               <label for="question">
                <span>Question</span>
                <textarea name="question" id="question"></textarea>
               </label>
               
               <input type="submit" value="Register">
            </form>
        </section>
    </main>
</body>
</html>